.Signup {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .Signup h2 {
    text-align: center;
  }
  
  .Signup form {
    display: flex;
    flex-direction: column;
  }
  
  .Signup label {
    margin-bottom: 5px;
  }
  
  .Signup input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .Signup input[type="submit"] {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Signup input[type="submit"]:hover {
    background-color: #218838;
  }