#operations {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group-prepend {
    margin: 10px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.input-group-prepend > input {
    margin-right: 5px;
}

